{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block dev_Start %}
<form action="/login" class="login__form" method="POST">
  <h1 class="login__title">Image Uploader</h1>
  <h3 class="login__title">Login</h3>
  <div class="login__content">
    <div class="login__box">
      <i class="ri-user-3-line login__icon"></i>

      <div class="login__box-input">
        <input type="text" name="username" class="login__input" id="username">
        <label for="" class="login__label">User Name</label>
      </div>
    </div>

    <div class="login__box">
      <i class="ri-lock-2-line login__icon"></i>

      <div class="login__box-input">
        <input type="password" name="password" class="login__input" id="password">
        <label for="" class="login__label">Password</label>
        <i class="ri-eye-off-line login__eye" id="login-eye"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="login__button">Login</button>
</form>

<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
